<template>
  <div id="Home" style="padding-top: 50px;">
    <div class="container">

      <div class="box" @click="openLink('https://linkedin.com/in/twan-luttik-8001ba166/')">
        <div class="square">
          <svg aria-hidden="true" focusable="false" data-prefix="fab" data-icon="linkedin-in" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="svg-inline--fa fa-linkedin-in fa-w-14 fa-3x">
            <path fill="currentColor" d="M100.28 448H7.4V148.9h92.88zM53.79 108.1C24.09 108.1 0 83.5 0 53.8a53.79 53.79 0 0 1 107.58 0c0 29.7-24.1 54.3-53.79 54.3zM447.9 448h-92.68V302.4c0-34.7-.7-79.2-48.29-79.2-48.29 0-55.69 37.7-55.69 76.7V448h-92.78V148.9h89.08v40.8h1.3c12.4-23.5 42.69-48.3 87.88-48.3 94 0 111.28 61.9 111.28 142.3V448z">
            </path>
          </svg>
        </div>
      </div>

      <div class="box" @click="openLink('https://notify.me/twan')">
        <div class="square">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 222 222" fill="none">
            <path fill="currentColor" d="M77.3431 21.5841C85.8958 14.3766 107.075 0.724723 143.695 2.05715C178.536 4.73194 210.858 39.273 210.858 67.3727V147.673C211.135 149.409 211.278 151.192 211.278 153.011L210.858 186.185C210.858 204.786 196.756 219.855 178.206 219.855C159.659 219.855 143.695 204.78 143.695 186.185L144.115 154.027C144.115 153.149 144.149 152.279 144.215 151.418L143.695 119.649C143.695 119.649 143.254 92.5612 138.607 82.9089C133.482 72.928 123.598 68.2829 114.184 68.6211C101.6 68.3798 87.8092 75.7537 80.9374 80.0007V96.3686C80.9374 115.761 65.2233 131.481 45.8295 131.481C26.4399 131.481 10.7216 115.762 10.7216 96.3686V37.079C10.7216 17.6868 26.4357 1.96631 45.8295 1.96631C59.6583 1.96631 71.6197 9.96218 77.3431 21.5841ZM45.5601 220.033C26.3193 220.033 10.7216 204.391 10.7216 185.094C10.7216 165.798 26.3193 150.156 45.5601 150.156C64.8008 150.156 80.3985 165.798 80.3985 185.094C80.3985 204.391 64.8008 220.033 45.5601 220.033Z"/>
          </svg>
        </div>
      </div>

      <div class="box" @click="openLink('https://gitlab.com/TwanLuttik')">
        <div class="square">
          <svg aria-hidden="true" focusable="false" data-prefix="fab" data-icon="gitlab" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="svg-inline--fa fa-gitlab fa-w-16 fa-2x">
            <path fill="currentColor" d="M105.2 24.9c-3.1-8.9-15.7-8.9-18.9 0L29.8 199.7h132c-.1 0-56.6-174.8-56.6-174.8zM.9 287.7c-2.6 8 .3 16.9 7.1 22l247.9 184-226.2-294zm160.8-88l94.3 294 94.3-294zm349.4 88l-28.8-88-226.3 294 247.9-184c6.9-5.1 9.7-14 7.2-22zM425.7 24.9c-3.1-8.9-15.7-8.9-18.9 0l-56.6 174.8h132z" class="" data-darkreader-inline-fill="" style="--darkreader-inline-fill:currentColor;"></path>
          </svg>
        </div>
      </div>

      <div class="box" @click="openLink('https://steamcommunity.com/id/twan_t/')">
        <div class="square">
          <svg aria-hidden="true" focusable="false" data-prefix="fab" data-icon="steam" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 496 512" class="svg-inline--fa fa-steam fa-w-16 fa-3x">
            <path fill="currentColor" d="M496 256c0 137-111.2 248-248.4 248-113.8 0-209.6-76.3-239-180.4l95.2 39.3c6.4 32.1 34.9 56.4 68.9 56.4 39.2 0 71.9-32.4 70.2-73.5l84.5-60.2c52.1 1.3 95.8-40.9 95.8-93.5 0-51.6-42-93.5-93.7-93.5s-93.7 42-93.7 93.5v1.2L176.6 279c-15.5-.9-30.7 3.4-43.5 12.1L0 236.1C10.2 108.4 117.1 8 247.6 8 384.8 8 496 119 496 256zM155.7 384.3l-30.5-12.6a52.79 52.79 0 0 0 27.2 25.8c26.9 11.2 57.8-1.6 69-28.4 5.4-13 5.5-27.3.1-40.3-5.4-13-15.5-23.2-28.5-28.6-12.9-5.4-26.7-5.2-38.9-.6l31.5 13c19.8 8.2 29.2 30.9 20.9 50.7-8.3 19.9-31 29.2-50.8 21zm173.8-129.9c-34.4 0-62.4-28-62.4-62.3s28-62.3 62.4-62.3 62.4 28 62.4 62.3-27.9 62.3-62.4 62.3zm.1-15.6c25.9 0 46.9-21 46.9-46.8 0-25.9-21-46.8-46.9-46.8s-46.9 21-46.9 46.8c.1 25.8 21.1 46.8 46.9 46.8z" class="" data-darkreader-inline-fill="" style="--darkreader-inline-fill:currentColor;"></path>
          </svg>
        </div>
      </div>


    </div>
  </div>
</template>

<script>

export default {
  name: 'Home',
  data() {
    return {

    }
  },
  methods: {
    openLink(l) {
      window.open(l);
    }
  }
}
</script>

<style lang="scss" scoped>
#Home {
  display: flex;
  align-items: center;
  flex-direction: column;

  
  .square {
    width: 70px;
    height: 70px;
    border: solid 1px var(--orange);
    background: var(--orange);
    cursor: pointer;
    margin-right: 10px;

    svg {
      margin: 8px;
      // color: var(--orange);
      color: var(--background);
    }

    transition: background .3s ease, color .3s ease;
    &:hover {
      background: var(--background);
      svg {
        color: var(--orange);
      }
    }
  }

  .box  {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .no-bottom {
    border-bottom: unset;
  }
}
</style>