<template>
  <div id="app">
    <router-view></router-view>
  </div>
</template>


<script>
export default {
  created() {
    this.$base.initColors();
  }
}
</script>

<style lang="scss">
@import url('https://fonts.googleapis.com/css?family=Be+Vietnam&display=swap');


#app {
  font-family: 'Be Vietnam', sans-serif;
  // font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background: #181818;
  color: rgb(207, 139, 12);
  font-size: 18px;
  height: 100%;
}

body,
html {
  min-height: 100%;
  height: 100%;
}

* {
  padding: 0;
  margin: 0;
}
</style>
